
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pwnd by Gecegezen</title>
    <style>
        body {
            background-color: black;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            color: white; /* Yazı rengini beyaz yapalım */
            font-family: 'Courier New', Courier, monospace; /* Hacker temasına uygun bir font */
            font-size: 2em; /* Yazı boyutunu büyütebiliriz */
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        pwnd by Gecegezen<br>
        Greez:Zorrokin<br>
        Turkhackteam.org
    </div>
</body>
</html>
